#Example configuration file of oflops
oflops: {
    control: {
	control_dev = "eth2";
	control_port = 6633;
	snmp_addr = "10.1.1.2";
	cpu_mib="1.3.6.1.4.1.21839.2.2.11.2.1.2.1.11";	
	in_mib="1.3.6.1.2.1.2.2.1.11.38";
	out_mib="1.3.6.1.2.1.2.2.1.17.38";
	snmp_community = "public";
};

data = ({
     dev="nf2c0";
     port_num=25;
     in_snmp_mib="1.3.6.1.2.1.2.2.1.11.34";
     out_snmp_mib="1.3.6.1.2.1.2.2.1.17.34";
     type="nf2";
},{
     dev="nf2c1";
     port_num=26;
     in_snmp_mib="1.3.6.1.2.1.2.2.1.11.35";
     out_snmp_mib="1.3.6.1.2.1.2.2.1.17.35";
     type="nf2";
},{
     dev="nf2c2";
     port_num=27;
     in_snmp_mib="1.3.6.1.2.1.2.2.1.11.36";
     out_snmp_mib="1.3.6.1.2.1.2.2.1.17.36";
     type="nf2";
});

traffic_generator=3;
dump_control_channel=0;

module: ({
path="/testbed/oflops/example_modules/openflow_action_delay/.libs/libopenflow_action_delay.so";
#param="flows=10 data_rate=10 pkt_size=150 action=0/27 table=0 print=0";
param="flows=10 data_rate=10 pkt_size=150 action=b/1010,0/27 table=0 print=0";
});
};
